body{
	margin: 0;
	padding:0;
    font-family:"product sans","Helvetica Neue",Arial,Sans-Serif;
    overflow-x: hidden;
}
@font-face {
    font-family: 'product_sansregular';
    src: url('product_sans-webfont.eot');
    src: url('product_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('product_sans-webfont.woff2') format('woff2'),
         url('product_sans-webfont.woff') format('woff'),
         url('product_sans-webfont.svg#product_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.photos{
	margin: 0;
	padding:0;
}

.list{
	width: 100%;
}
.header{ 

width:100%; 

height:100px; 

position: absolute;

top: 0;

z-index: 100;
background: -ms-linear-gradient(top, rgba(0,0,0,1),  rgba(0,0,0,0));        /* IE 10 */

background:-moz-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0));/*火狐*/ 

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));/*谷歌*/ 

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));      /* Safari 4-5, Chrome 1-9*/

background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));   /*Safari5.1 Chrome 10+*/

background: -o-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0));  /*Opera 11.10+*/

} 
ul,ol{ padding: 0;margin: 0}
.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b04 { width: 100%;}
#b04 .dots { position: absolute; left: 0; right: 0; bottom: 5%;}
#b04 .dots li 
{ 
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    margin: 5px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
#b04 .dots li.active 
{
    background: #fff;
    opacity: 1;
}
#b04 .arrow { position: absolute; top: 40%;}
#b04 #al { left: 5%;}
#b04 #ar { right: 5%;}

#headerleft{
	height: 100%;
	position: absolute;
    z-index: 90;
    color: white;
    left: 5%;
    top: 15%;
}

#headerright{
	height: 100%;
	position: absolute;
	z-index: 90;
	color: #ddd;
	right: 5%;
	top: 15%;
}

#cst{
	font-size: 40px;
}

#headerright li{
	list-style: none;
	float: right;
	position: relative;
    padding-left: 20px;
    padding-top: 20%;
    font-size: 20px;
}

#headerright a:link{
	color: #ddd;
	text-decoration: none;
}

#headerright a:visited{
	color: #ddd;
}
#headerright a:hover{
	color: white;
}

#bar2{
	width: 90%;
	margin-left: 5%;
	position: fixed;
	height:50px;
	top: 100px;
	z-index: 110;
	transition: 0.1s;
	background-color: rgb(49,60,85);
}

.bar2list:hover{
    background-color: rgba(73,83,108,0.8);
}

.bar2list{
	height: 100%;
	width: 100%;
}
#bar2 table{
	color: white;
	height: 100%;
	margin-left: 5%;
}

#bar2 th:hover{
	background-color: rgb(73,83,108);
}

#bar2 th{
	padding-left: 20px;
	padding-right: 20px;
}

.imgcontainer{
	width: 100%;
	height: auto;
}

.absolute{
	position: absolute;
	top: 50%;
}

th a{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
}

th a:link{
	text-decoration: none;
	color: white;
}

th a:visited{
	color: white;
}

#phoneheader{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgb(49,60,85);
	display: none;
	z-index: 10;
}

#imgholder{
	height: 70%;
	margin-top: 15%;
}

#phonetitle{
	top: 15px;
	position: fixed;
	color: white;
	margin: 0 auto;
	right: 13%;
}

@media(max-width: 320px){
	#phonetitle{
		right: 5%;
	}
}

@media(min-width: 560px){
	#phonetitle{
		right: 25%;
	}
}
@media(min-width: 768px){
	#phonetitle{
		right: 31%;
	}
}
#phonebarbackground{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	transition: 1s;
	display: none;
	z-index: 200;
}

#phonebar{
	position: fixed;
	background-color: rgb(49,60,85);
	width: 200px;
	z-index: 300;
	height: 100%;
	transition: 0.3s ease-out;
	left: -200px;
	overflow: auto;
}

#headerh2{
	margin: 13px;
}

#register{
	background-color: rgb(256,156,0);
}

#phonebar a:link{
	text-decoration: none;
}

@media(max-width: 1023px){
	#bar2, .header{
		display: none;
	}
}

@media(max-width: 1023px){
	#phoneheader{
		display: block;
	}
}

@media(min-width: 1024px){
	#b04{
		top: -50px;
	}
}


#phonebar table{
	color: white;
	width: 100%;
}

#phonebarth{
	background-color: rgb(256,156,0);
}

#phonebar a:link{
	color: white;
	font-size: 18px;
}

#phonebar a:visited{
	color: white;
}

#phonebar td{
	padding-left: 35px;
}

#blank{
    height: 50px;
    width: 100%;
}

#watchcard, #uploadcard, #hearthstone{
	border-bottom: 1px solid #666;
}

#spantr{
	display: none;
}

.spanli{
	list-style: none;
	float: left;
	padding-left: 5%;
	height: 30px;
	padding-right: 5%;
	padding-top: 10px;
}

#spanul{
    display: none;
	margin-left: 30%;
}

#spanul a:link{
	color: white;
	font-family: MicrosoftYaHei;
}

#spanul a:visited{
	color: white;
}

#spanli:hover{
	background-color: rgba(73,83,108,0.8);
}